# backups
*.bak

# logs
*.logs
*.log

# Clipse history
config/clipse/clipboard_history.json

# Personal bookmarks
config/gtk/gtk-3.0/bookmarks

# minimize_dot binary
config/waybar/scripts/minimized_dot
