# Zsh plugins coz they have git repos in em
cli/zsh/.zsh

# Tmux plugins
cli/tmux/plugins

# backups
*.bak

# logs
*.logs
*.log

# Clipse history
/cli/clipse/clipboard_history.json

# Spotify
/gui/spotify/Users/
