[user]
	name = Kiran S
	email = 6carbon12.oss@proton.me
	signingkey = 3D4F0EB801D93E1C
[init]
	defaultBranch = master
[color]
	ui = auto
[core]
	editor = nvim
[commit]
	gpgSign = true
[credential]
	helper = store
