[Unit]
Description=Swap CapsLock and Escape

[Service]
ExecStart=%h/.dotfiles/config/systemd/scripts/swap_caps_esc
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=default.target
