* {
    font-family: FontAwesome, JetBrainsMono Nerd Font;
    font-size: 14px;
}

@define-color dark-red #f2263e;
@define-color dark-gray #292e42;
@define-color white #c0caf5;
@define-color dark-purple #9d7cd8;
@define-color light-blue #7aa2f7;
@define-color light-red #f7768e;
@define-color text #1a1b26;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color cyan #7dcfff;

#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces {
    margin: 4px 12px;
    padding: 0px 10px;
    border-radius: 8px;
    font-weight: bold;
}

#window {
    margin: 4px 0;
    padding: 0px 8px;
    border-radius: 4px;
    color: @white;
    background-color: @dark-gray;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#workspaces button {
    padding: 0px 14px;
    margin: 0px 4px;
    color: @dark-purple;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition: background-color, color 0.15s ease;
}

#workspaces button:hover {
    background: @dark-gray;
}

#workspaces button.active {
    background-color: @light-blue;
    color: @text;
}

#workspaces button.urgent {
    background: @light-red;
    color: @text;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio {
    padding: 0 12px;
    border-radius: 8px;
    color: @text;
    margin: 4px 4px;
    font-weight: bold;
}

#pulseaudio {
    background-color: @light-red;
}

#pulseaudio.muted {
    background-color: @dark-gray;
    color: @white;
}

#network {
    background-color: @cyan;
}

#network.disconnected {
    background-color: @dark-red;
}

#cpu {
    background-color: @yellow;
}

#memory {
    background-color: @green;
}

#backlight {
    background-color: @light-blue;
}

#battery {
    background-color: @dark-purple;
}

#battery.critical:not(.charging) {
    background-color: @dark-red
}

#clock {
    background-color: @white;
}
