* {
    font-family: FontAwesome, JetBrainsMono Nerd Font;
    font-size: 14px;
}

/* alpha can only be hardcoded */
@define-color dark-red rgba(242, 38, 62, 0.8);
@define-color dark-gray rgba(41, 46, 66, 0.8);
@define-color light-gray rgba(115, 122, 162, 0.8);
@define-color white rgba(192, 202, 245, 0.8);
@define-color dark-purple rgba(157, 124, 216, 0.8);
@define-color light-blue rgba(122, 162, 247, 0.8);
@define-color light-red rgba(247, 118, 142, 0.8);
@define-color green rgba(79, 214, 190, 0.8);
@define-color yellow rgba(224, 175, 104, 0.8);
@define-color cyan rgba(125, 207, 255, 0.8);
@define-color orange rgba(255, 158, 100, 0.8);
@define-color teal rgba(115, 218, 202, 0.8);

@define-color text rgba(26, 27, 38, 1);
@define-color dark-purple-solid rgba(157, 124, 216, 1);

#waybar {
    background-color: rgba(150, 100, 255, 0.2);
}

#workspaces {
    margin: 4px 12px;
    padding: 0px 10px;
    border-radius: 8px;
    font-weight: bold;
}

#window {
    margin: 4px 8px;
    padding: 0px 8px;
    border-radius: 4px;
    color: @white;
    background-color: @dark-gray;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#custom-dashboard {
    font-size: 18px;
    padding: 0 9px 0 6px;
    border-radius: 8px;
    margin: 4px 8px 4px 4px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #7aa2f7;
    color: #7aa2f7;
    transition: all 0.2s;
}

#custom-dashboard:hover {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#custom-minimized {
    padding: 0px;
    font-size: 16px;
}

/* The Active Dot Style */
#custom-minimized.occupied {
    color: @light-blue; /* Changed to your specific blue */
}

/* Hide when empty */
#custom-minimized.empty {
    padding: 0;
    margin: 0;
}

#workspaces button {
    padding: 0px 6px;
    border: 1px solid @dark-purple-solid;
    margin: 0px 4px;
    border-radius: 16px;
    color: @dark-purple-solid;
    box-shadow: none;
    text-shadow: none;
    transition: background-color, color, padding, 300ms ease;
}

#workspaces button:hover {
    background: @dark-purple-solid;
    color: @text;
}

#workspaces button.active {
    background-color: @light-blue;
    padding: 0px 14px;
    border: none;
    border-radius: 16px;
    color: @text;
}

#workspaces button.active:hover {
    background: @dark-purple-solid;
}

#workspaces button.urgent {
    background: @light-red;
    color: @text;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio {
    padding: 0 12px;
    border-radius: 8px;
    color: @text;
    margin: 4px 4px;
    font-weight: bold;
}

#pulseaudio {
    background-color: @light-gray;
}

#pulseaudio.muted {
    background-color: @dark-gray;
    color: @white;
}

#network {
    background-color: @cyan;
}

#network.disconnected {
    background-color: @dark-red;
}

#cpu {
    background-color: @dark-purple;
}

#memory {
    background-color: @light-blue;
}

#backlight {
    background-color: @yellow;
}

#battery {
    background-color: @green;
}

#battery.critical:not(.charging) {
    background-color: @dark-red
}

#clock {
    background-color: @white;
}
