* {
    font-family: FontAwesome, JetBrainsMono Nerd Font;
    font-size: 14px;
}

#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#window,
#workspaces {
    margin: 4px 12px;
    padding: 0px 10px;
    border-radius: 8px;
    font-weight: bold;
}

#workspaces button {
    padding: 0px 14px;
    margin: 0px 4px;
    color: #9d7cd8;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition: background-color, color 0.15s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#workspaces button.urgent {
    background: #f7768e;
    color: #1a1b26;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio {
    padding: 0 12px;
    border-radius: 8px;
    color: #1a1b26;
    margin: 4px 4px;
    font-weight: bold;
    font-size: 14px;
}

#pulseaudio {
    background-color: #f7768e;
}

#pulseaudio.muted {
    background-color: #414868;
    color: #9aa5ce;
}

#network {
    background-color: #7dcfff;
}

#network.disconnected {
    background-color: #f2263e;
}

#cpu {
    background-color: #e0af68;
}

#memory {
    background-color: #9ece6a;
}

#backlight {
    background-color: #7aa2f7;
}

#battery {
    background-color: #bb9af7;
}

#battery.critical:not(.charging) {
    background-color: #f2293e;
}

#clock {
    background-color: #c0caf5;
}
