/* ===== CSS ===== */
@define-color accent #3b4261;
@define-color text-color #9d7cd8;

.date-day-window, .power-window {
  background-color: transparent;
}

.day-text {
  font-family: "Anurati";
  font-size: 128px;
  color: @text-color;
  letter-spacing: 24px;
}

.date-text {
  font-family: "Anurati", "Orbitron";
  font-size: 24px;
  font-weight: bold;
  color: @text-color;
  letter-spacing: 12px;
}

.day-date-box, .power-box, .day-box, .date-box {
  background-color: transparent;
}

/* ===== Buttons ===== */
button, button * {
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.power, .restart, .sleep {
  color: @accent;
}

.power {
  font-size: 88px;
}

button:hover .power {
  font-size: 100px;
}

.restart {
  font-size: 48px;
}

button:hover .restart {
  font-size: 58px;
}

.sleep {
  font-size: 44px;
}

button:hover .sleep {
  font-size: 54px;
}
