$bg: #1a1b26;
$bg-lighter: #24283b;
$fg: #c0caf5;
$accent: #7aa2f7;
$red: #f7768e;
$green: #9ece6a;
$purple: #9d7cd8;
$border: #414868;


/* COMMON */
button, button * {
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

* {
  font-family: "JetBrainsMono Nerd Font";
}


/* DATE DAY */
.date-day-window {
  background-color: transparent;
}

.day-text {
  font-family: "Anurati";
  font-size: 128px;
  color: $purple;
  letter-spacing: 24px;
}

.date-text {
  font-family: "Anurati", "Orbitron";
  font-size: 24px;
  font-weight: bold;
  color: $purple;
  letter-spacing: 12px;
}


/* DASHBOARD */
.dashboard {
  background-color: transparent; 
}

.layout-box {
  background-color: $bg;
  border: 2px solid $border;
  border-radius: 12px;
  padding: 20px;
}

/* HEADER */
.header {
  margin-bottom: 20px;
}

.welcome-text {
  color: $purple;
  font-weight: bold;
  font-size: 18px;
}

.close-btn {
  color: $red;
  font-weight: bold;
  font-size: 18px;
}

.close-btn:hover {
  color: $fg;
}

/* MUSIC CARD */
.music-box {
  background-color: $bg-lighter;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 24px;
}

.song-title {
  color: $accent;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.song-artist {
  color: $fg;
  font-size: 12px;
  margin-bottom: 12px;
}

.music-box button {
  color: $fg;
  font-size: 24px;
  padding: 5px;
  margin-bottom: -8px;
  transition: all 0.2s;
}

.music-box button:hover {
  color: $accent;
}

/* TOGGLE GRID */
.toggles-grid button {
  border-radius: 12px;
  font-size: 24px;
  transition: all 0.2s;
}

.btn-active {
  padding: 24px;
  background-color: $accent; 
  color: $bg;
}

.btn-inactive {
  padding: 24px;
  background-color: $bg-lighter;
  color: #565f89; /* Dimmed gray-blue */
}

.btn-active:hover {
  background-color: $purple; /* Change color slightly on hover */
}

.btn-inactive:hover {
  background-color: $border;
}
/* Separate style for dnd button */
.btn-dnd-active {
  padding: 15px 20px 15px 15px;
  background-color: $accent; 
  color: $bg;
}

.btn-dnd-inactive {
  /* weird values for dnd padding because the nerfont icon is skewed */
  /* These values are pixel perfect using figma*/
  padding: 15px 20px 15px 15px;
  background-color: $bg-lighter;
  color: #565f89;
}

.btn-dnd-active:hover {
  background-color: $purple;
}

.btn-dnd-inactive:hover {
  background-color: $border;
}


/* POWER ROW CONTAINER */
.power-box {
  margin-top: 24px;
}

.power-box button {
  background-color: $bg-lighter;
  border-radius: 16px;
  font-size: 18px;
  transition: background-color 0.2s;
}

.btn-power {
  color: $red;
  padding: 8px 12px;
}

.btn-sleep, .btn-restart {
  color: $fg;
  padding: 8px 12px;
}

.btn-sleep {
  padding: 8px 13px 8px 8px;
}

.btn-sleep:hover, .btn-restart:hover {
  background-color: $accent;
  color: $bg;
}

.btn-power:hover {
  background-color: $red;
  color: $bg;
}
