[user]
	name = Kiran S
	email = 6carbon12.oss@proton.me
	signingkey = ~/.ssh/oss.pub
[init]
	defaultBranch = master
[color]
	ui = auto
[core]
	editor = nvim
  excludesfile = ~/.gitignore
[commit]
	gpgSign = true
[credential]
  helper = cache --timeout=3600
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
